*{
    font-family: Tahoma, Calibri, Arial, Helvetica;
    font-size: 14px;
}

body {
	width: 800px;
	margin: 0px auto;
	background-color: #f1f8f8;
}

div {
	border: 1px solid #ddd;
    border-radius: 3px;
    background-color: white;
}

ul {
	margin: 0; /* IE, Opera */
    padding: 0; /* Firefox, Safari, Chrome */
    list-style-type: none;
}

div#sorting {
	display: block;
	position: fixed;
	width: 800px;
	height: 39px;
	
	margin-top: 10px; 
	z-index: 1;
	
	outline: 10px solid #f1f8f5;

	line-height: 38px;
}

div#sorting ul :first-child { /* SORT BY */
	width: 211px;
	
	border-right: 1px solid #ddd;
	
	text-align: center;
	text-indent: 0px;
	
	cursor: default;
}

div#sorting ul :last-child {
	border-right: none;	
}

div#sorting ul li {
	display: inline-block;
	width: 195px;
	height: 39px;
	
/*	text-align: center;*/
	text-indent: 60px;
	
	border-right: 1px dashed #ddd;
	
	cursor: pointer;
}

div#sorting ul li.active {
	border-bottom: 1px solid #0067ac;
	
	background-color: #f4f9fd;
	transition-property: background-color;
  	transition-duration: 1s;
}

div#users {
	display: table-cell;
	position: relative;
	top: 61px;
	width: 206px;
	
	text-transform: capitalize;
	background-color: white;
}

div#users ul#userList li {
	padding: 10px 0px;
    text-align: center;
    border-bottom: 1px dashed #ddd;
    /* font-weight: bold;*/
    
    cursor: pointer;
}

div#users ul#userList :last-child {
	border-bottom: none;
}

div#users img {
	margin: 8px auto 0px;
	border-radius: 50%; 
}

div#preview {
	visibility: hidden;
	
	position: fixed;
  	left: 221px; 
  	right: 0;
  	top: 61px;
  	width: 562px;
  	height: auto;
  	
  	margin: 0 auto;
  	padding: 10px;
	
	text-transform: capitalize;
    
    cursor: pointer;
}

div#preview img {
	float: left;
	margin: 2px 7px 0 1px;
}

div#preview ul {
	display: table-cell;
	line-height: 1.5;
}

div#preview ul li {	
	margin-left: 6px;
}

div#preview ul li#userEmail {
	text-transform: none;
}

#titles li {
	color: #707070;
}

#userName {
	margin: 0 0 11px 0;
	text-indent: 6px;
	font: bold 16px Tahoma;
}

#closeBtn {
	visibility: hidden;
	
	position: absolute;
	left: 555px;
	
	color: #9fccdf;
	font-size: 18px;
	
	cursor: pointer;
}

#closeBtn:hover {
    color: #32718b;
}

button#toTopBtn {
	display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100px;
    z-index: 99;
    
    text-align: center;
    font: 36px Courier New;
    
    border: none;
    color: #9fccdf;
    background-color: #f1f8f5;
    
    cursor: pointer;
}

button#toTopBtn:hover {
    color: #32718b;
    background-color: #e3f2f1;
    
    transition-property: background-color;
  	transition-duration: 1s;
}

footer {
	margin-top: 80px;
}

footer a:link {
	text-decoration: none;
	color: darkred;
}